
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 class="page-title">Kullanıcı Listesi</h2>
<div class="page-bar">
    <ul class="page-breadcrumb">
        Sistemde bulunan kitaplar aşağıda listelenmiştir.
    </ul>
    <div class="page-toolbar">
        <div class="btn-group pull-right">
            <a href="/BooksPanel/Create" class="btn btn-fit-height red">
                <i class="fa fa-plus"></i>
                New Book Record
            </a>
        </div>
    </div>
</div>
<br />

<div class="row">
    <div class="col-md-12">
        <div class="portlet light">
            <div class="portlet-title">
                <div class="caption">
                    <i class="icon-users font-dark"></i>
                    <span class="caption-subject bold uppercase">Books</span>
                </div>

            </div>
            <div class="portlet-body">
                <table class="table table-striped dataTable table-hover nowrap stripe table-bordered " id="dyntable">
                    <thead>
                        <tr role="row">

                            <th>Book Name</th>
                            <th>Author Name</th>
                            <th>Barcode</th>
                            <th>Resource Type</th>
                            <th>Campus</th>
                            <th>Is Available</th>
                            <th>Is Printed</th>
                            <th>status</th>
                            <th></th>



                        </tr>
                        <tr class="sptl">

                            <th><input type="text" name="search_engine" value="" class="form-control input-sm" /></th>
                            <th><input type="text" name="search_browser" value="" class="form-control input-sm" /></th>
                            <th><input type="text" name="search_browser" value="" class="form-control input-sm" /></th>
                            <th><input type="text" name="search_browser" value="" class="form-control input-sm" /></th>
                            <th><input type="text" name="search_browser" value="" class="form-control input-sm" /></th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>



                        </tr>
                    </thead>

                    <tbody id="tableBody"></tbody>

                </table>
            </div>
        </div>
    </div>
</div>
<script src="~/Scripts/vendorPanelDataQuery.js"></script>

