







<div class="fixed-top" style="background-color: #fff; box-shadow: 0 1px 0 0 #e3e7eb;">


    <!--if (Request.Browser.IsMobileDevice)
    {
        if (jobPageUrl != null || jobPageUrl == null)
        {
            <div class="row px-md-4 d-flex topTitle">
                <a href="/" class="btn-circle top-item top-job-button" style="padding-left:6px; padding-right:6px; padding-top:2px;"-->
    @*data-toggle="dropdown"*@ @*aria-haspopup="true" aria-expanded="false"*@
    <!-->
    <img src="~/Content/img/toptalentstar.png" class="topImage" width="16" height="16" />
    İş İlanları-->
    @*<i class="fas fa-chevron-down" style=""></i>*@
    <!--</a>
    <div class="navbar-seperator" style="padding-right: 2px !important; padding-left: 2px !important; margin-top: -5px;">|</div>
    <a href="/cv-hazirlama" class="btn-circle top-item" style="padding-left:6px; padding-right:6px;"-->
    @*data-toggle="dropdown"*@ @*aria-haspopup="true" aria-expanded="false"*@
    <!-->
    <img src="~/Content/img/toptalentstar.png" class="topImage" width="16" height="16" />
    CV Programları-->
    @*<i class="fas fa-chevron-down" style=""></i>*@
    <!--</a>
    <div class="navbar-seperator" style="padding-right: 2px !important; padding-left: 2px !important; margin-top: -5px;">|</div>
    <a href="https://toptalent.co/businessschool/online-egitim-sertifika-programlari/" style="padding-left:6px; padding-right:6px;" class="btn-circle top-item"-->
    @*data-toggle="dropdown"*@ @*aria-haspopup="true" aria-expanded="false"*@
    <!-->
    <img src="~/Content/img/toptalentstar.png" class="topImage" width="16" height="16" />
    Business School-->
    @*<i class="fas fa-chevron-down" style=""></i>*@
    <!--</a>
        </div>
    }
    else
    {
        <div class="row px-md-4 d-flex topTitle">
            <a href="/" class="btn-circle top-item top-job-button" style="padding-left:6px; padding-right:6px; padding-top:2px;"-->
    @*data-toggle="dropdown"*@ @*aria-haspopup="true" aria-expanded="false"*@
    <!-->
    <img src="~/Content/img/toptalentstar.png" class="topImage" width="16" height="16" />
    İş İlanları-->
    @*<i class="fas fa-chevron-down" style=""></i>*@
    <!--</a>
    <div class="navbar-seperator" style="padding-right: 2px !important; padding-left: 2px !important; margin-top: -5px;">|</div>
    <a href="/cv-hazirlama" class="btn-circle top-item" style="padding-left:6px; padding-right:6px;"-->
    @*data-toggle="dropdown"*@ @*aria-haspopup="true" aria-expanded="false"*@
    <!-->
    <img src="~/Content/img/toptalentstar.png" class="topImage" width="16" height="16" />
    CV Programları-->
    @*<i class="fas fa-chevron-down" style=""></i>*@
    <!--</a>
    <div class="navbar-seperator" style="padding-right: 2px !important; padding-left: 2px !important; margin-top: -5px;">|</div>
    <a href="https://toptalent.co/businessschool/online-egitim-sertifika-programlari/" style="padding-left:6px; padding-right:6px;" class="btn-circle top-item"-->
    @*data-toggle="dropdown"*@ @*aria-haspopup="true" aria-expanded="false"*@
    <!-->
    <img src="~/Content/img/toptalentstar.png" class="topImage" width="16" height="16" />
    Business School-->
    @*<i class="fas fa-chevron-down" style=""></i>*@
    <!--</a>
            </div>
        }

        <style>

            .top-job-button {
                background-color: #fff;
                border-top-left-radius: 8px;
                border-top-right-radius: 8px;
            }

            .topTitle {
                background: #EFF6FC;
                padding-top: 15px;
                justify-content: center;
            }

            .top-item {
                color: #000;
                font-size: 14px;
                display: flex;
                align-items: center;
                margin-top: -10px;
            }

                .top-item:hover {
                    color: #000;
                    text-decoration: none;
                }

                    .top-item:hover:active {
                        color: #D51D8A;
                        background-color: #EFF6FC;
                    }

            .topImage {
                margin-right: 5px;
            }
        </style>
    }-->
    @*else
    //{*@
    <!-- Header Start -->

    <div class="row px-md-4 d-flex topTitle">
        <a href="/" class="btn-circle top-item ml-3 top-job-button" style="padding-left:10px; padding-right:10px; padding-top:5px;">
            <img src="~/Content/img/toptalentstar.png" class="topImage" width="14" height="14" />
            İş İlanları
        </a>
        <div class="navbar-seperator d-flex" style="align-items: center; padding-right: 5px; padding-left: 5px; padding-top: 5px; margin-top: -10px">|</div>
        <a href="/cv-hazirlama" class="btn-circle top-item" style="padding-left:10px; padding-right:10px; padding-top:5px;">
            <img src="~/Content/img/toptalentstar.png" class="topImage" width="14" height="14" />
            CV Programları
        </a>
        <div class="navbar-seperator d-flex" style="align-items: center; padding-right: 5px; padding-left: 5px; padding-top: 5px; margin-top: -10px ">|</div>
        <a href="https://toptalent.co/businessschool/online-egitim-sertifika-programlari/" class="btn-circle top-item" style="padding-left:10px; padding-right:10px; padding-top:5px;">
            <img src="~/Content/img/toptalentstar.png" class="topImage" width="14" height="14" />
            Business School
        </a>
    </div>


    <style>
        .top-job-button {
            background-color: #fff;
            border-top-left-radius: 8px;
            border-top-right-radius: 8px;
        }

        .topTitle {
            background: #EFF6FC;
            padding-top: 10px;
            justify-content: start;
        }

        .top-item {
            color: #000;
            font-size: 15px;
            display: flex;
            align-items: center;
            padding-bottom: 10px;
        }

            .top-item:hover {
                color: #000;
                text-decoration: none;
            }

                .top-item:hover:active {
                    color: #D51D8A;
                    background-color: #EFF6FC;
                }

        .topImage {
            margin-right: 8px;
        }
    </style>

    <div class="row px-md-4">
        <div class="col-7 col-sm-7 navbar-height-l reset-padding-l pr-0 pt-4">

            <a href="#" class="link-black" style="left:-3px; position:relative;" data-toggle="collapse" data-target="#accordionLefMenu" aria-controls="navbarCollapse" aria-expanded="true" aria-label="Toggle navigation"><i class="fas fa-bars d-sm-none f-16" style="vertical-align:middle;"></i></a>
            <a class="navbar-brand mx-0 mr-sm-5" href="/">
                <img importance="high" width="170" height="34" src="/assets/img/logo/logo-toptalent.png"
                     srcset="/assets/img/logo/logo-toptalent@2x.png 2x,
             /assets/img/logo/logo-toptalent@3x.png 3x"
                     class="toptalent-logo pt-0">
            </a>
            <div class="d-none d-lg-inline d-xl-inline">
                <div class="d-none d-lg-inline d-xl-inline dropdown-isara">
                    <span class="un">
                        <a href="/is-ilanlari" class="btn ff-pnova-b fw-600  p-2 pr-2 dropdown-toggle headItem" type="button" @*data-toggle="dropdown"*@ aria-haspopup="true" aria-expanded="false">
                            İş İlanları@*<i class="fas fa-chevron-down" style=""></i>*@
                        </a>
                    </span>
                    <span class="un">
                        <a href="/ise-alim-programlari" class="btn ff-pnova-b fw-600  p-2 pl-2 pr-2 dropdown-toggle headItem" type="button" @*data-toggle="dropdown"*@ aria-haspopup="true" aria-expanded="false">
                            İşe Alım Programları@*<i class="fas fa-chevron-down" style=""></i>*@
                        </a>
                    </span>
                    <span class="un">
                        <a href="/etkinlikler" class="btn ff-pnova-b fw-600  p-2 pl-2 pr-2 dropdown-toggle headItem" type="button" @*data-toggle="dropdown"*@ aria-haspopup="true" aria-expanded="false">
                            Etkinlikler@*<i class="fas fa-chevron-down" style=""></i>*@
                        </a>
                    </span>
                    <span class="un">
                        <a href="/sertifika-uzaktan-egitim" class="btn ff-pnova-b fw-600  p-2 pl-2 pr-2 dropdown-toggle headItem" type="button" @*data-toggle="dropdown"*@ aria-haspopup="true" aria-expanded="false">
                            Sertifikalar@*<i class="fas fa-chevron-down" style=""></i>*@
                        </a>
                    </span>



                </div>



            </div>


            <style>
                .headItem {
                    color: #000;
                    text-decoration: none;
                    border-bottom: 1px solid transparent;
                    transition: all ease-in-out 100ms;
                }

                    .headItem:hover {
                        color: #D51D8A;
                    }



                .cv-generator {
                    text-align: center;
                    display: inline-flex;
                    height: 35px;
                    width: 90px;
                    line-height: 1;
                    border: 1px solid #8e8e8e;
                    align-items: center;
                    justify-content: center;
                    border-radius: 5px;
                    top: -5px;
                    position: relative;
                    color: #000;
                    font-size: 12px;
                }

                    .cv-generator a {
                        color: #000;
                        text-decoration: none;
                    }

                @@media only screen and (max-width : 667px) {
                    .cv-generator {
                        top: 0;
                    }
                }
            </style>
            <style>
                .isveren-menu {
                    background: #FFFFFF !important;
                    box-shadow: 0px 4px 17px rgba(0, 0, 0, 0.1) !important;
                    border-radius: 16px !important;
                    margin-top: 0px;
                }

                    .isveren-menu a.dropdown-item {
                        padding-top: 8px;
                        padding-bottom: 8px;
                    }

                .dropdown-isveren .dropdown-toggle:focus, .dropdown-isara .dropdown-toggle:focus, .dropdown-isehazirlan .dropdown-toggle:focus {
                    box-shadow: none;
                }

                .dropdown-isara a.dropdown-toggle, .dropdown-isehazirlan a.dropdown-toggle {
                    font-weight: 600;
                    font-size: 18px;
                }

                    .dropdown-isara a.dropdown-toggle i, .dropdown-isehazirlan a.dropdown-toggle i {
                        font-size: 14px;
                        right: -10px;
                        position: relative;
                        top: 0;
                    }


                    .dropdown-isveren a.dropdown-toggle:after, .dropdown-isara a.dropdown-toggle:after, .dropdown-isehazirlan a.dropdown-toggle:after {
                        display: none;
                    }
            </style>
        </div>
        @*<div class="col-5 col-sm-5 navbar-height-r text-right reset-padding-r">

            <a href="/bildirimlerim" class="px-2 p-left-10"><img class="icon-notification" src="/assets/img/cmn/s.gif" width="1" height="1" /><span class="dot sec counter countunreadmessage" style="display:none;"></span></a>
            <img src="@photoPath" width="40" height="40" class="user-photo r-999" />
            <div class="dropdown d-inline">
                <a class="btn dropdown-user pl-1 pl-sm-2 pr-0 pr-sm-2" type="button" id="userMenu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <strong class="d-none d-sm-inline ff-pnova-sb">@User.Identity.Name</strong><i class="fas fa-chevron-down fa-xs pl-sm-2"></i>
                </a>
                <div class="dropdown-menu user-menu" style="left:-20px!important;">
                    <a class="dropdown-item" href="/ozgecmisim">Özgeçmişim</a>
                    <a class="dropdown-item" href="/basvurularim">Başvurularım</a>
                    <a class="dropdown-item" href="/bildirimlerim">Bildirimlerim</a>
                    <a class="dropdown-item" href="https://toptalent.co/businessschool/programlarim/">Programlarım</a>
                    <a class="dropdown-item" href="https://toptalent.co/businessschool/sertifikalarim/">Sertifikalarım</a>
                    <a class="dropdown-item" href="/favorilerim">Favorilerim</a>
                    <a class="dropdown-item" href="/hesabim">Ayarlarım</a>
                    <a class="dropdown-item LogOutBtn" href="javascript:void(0)">Çıkış Yap</a>
                </div>
                <style>

                    img.user-photo {
                        -moz-box-shadow: 0 5px 1px #e3e3e3;
                        -webkit-box-shadow: 0 5px 1px #e3e3e3;
                        box-shadow: 0 0 5px 1px #e3e3e3;
                    }

                    .user-menu {
                        z-index: 105 !important;
                        position: fixed !important;
                        inset: 0px 0px auto auto !important;
                        margin: 0px !important;
                        transform: translate(-20px, 65px) !important;
                        background: #FFFFFF !important;
                        box-shadow: 0px 4px 17px rgba(0, 0, 0, 0.1) !important;
                        border-radius: 16px !important;
                        width: 170px !important;
                        margin-top: 35px !important;
                    }

                        .user-menu a.dropdown-item {
                            padding-top: 8px;
                            padding-bottom: 8px;
                        }

                    @@media only screen and (max-width : 667px) {
                        .user-menu {
                            z-index: 105 !important;
                            position: absolute !important;
                            inset: 0px 0px auto auto !important;
                            margin: 0px !important;
                            background: #FFFFFF !important;
                            box-shadow: 0px 4px 17px rgb(0 0 0 / 10%) !important;
                            border-radius: 16px !important;
                            width: 300px !important;
                            left: 0;
                            margin: auto;
                            top: -30px !important;
                        }
                    }
                </style>

            </div>
        </div>*@
       
    </div>
    @*}*@


</div>



