

.lobby {
}

    .lobby .rooms {
        margin: auto;
        /*flex-wrap: nowrap;*/
    }

.rooms .card {
    box-shadow: none;
    border: 1px solid #b1b1b1;
    margin: 5px 5px;
    padding: 5px 13px;
}

@media only screen and (max-width: 768px) {
    .lobby .rooms {
        margin: auto;
    }

    .rooms .card {
        width: 100%;
    }
}

.rooms .col-md-6 {
    flex: auto;
}

.rooms .room {
    flex: auto;
    padding: 5px 5px;
}

.btn-joinroom {
    color: #fff;
    background-color: #4E92CE;
    border-color: #4E92CE;
    width: 100%;
}

.room-name {
    margin-bottom: 16px;
    font-size: 18px;
    font-weight: 500;
}

.room-participants {
    font-weight: 500;
    font-size: 14px;
}

.participants {
}

.participants-user {
    min-height: 60px;
}

    .participants-user li {
        font-size: 13px;
        color: #848484;
    }

.rooms .close-icon {
    color: #e81f1f;
    font-size: 18px;
}

iframe {
    width: 100%;
    height: 500px;
}

/*body {
        display: flex;
        align-items: center;
        justify-content: center;
        min-height: 100vh;
        background: #27ae60;
        font-family: "proxima-nova", "Source Sans Pro", sans-serif;
        font-size: 1em;
        letter-spacing: 0.1px;
        color: #32465a;
        text-rendering: optimizeLegibility;
        text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.004);
        -webkit-font-smoothing: antialiased;
    }*/
#contacts ul, #waiting-users ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

#profile .wrap p {
    padding: 0;
    margin-top: 0;
}

.messages ul {
    padding: 0;
}

.contact .meta p {
    margin: 0;
    padding: 0;
}

.contact-profile ul {
    padding: 0;
}

.contact-profile p {
    margin: 0;
    padding: 0;
}

.messages ul li {
    padding: 0;
}

    .messages ul li p {
        margin: 0;
    }

#frame {
    width: 100%;
    min-width: 360px;
    /*max-width: 1000px;*/
    height: 92vh;
    min-height: 300px;
    max-height: 720px;
    background: #e8e8e8;
}

@media screen and (max-width: 360px) {
    #frame {
        width: 100%;
        height: 100vh;
    }
}

#frame #sidepanel {
    float: left;
    min-width: 40%;
    max-width: 340px;
    width: 40%;
    height: 100%;
    background: #fff;
    color: #000;
    overflow: hidden;
    position: relative;
}

/*#profile:after {
    width: 90%;
    margin: 15px auto;
    border-bottom: 1px solid #a2a2a2;
    content: '';
}*/

@media screen and (max-width: 735px) {
    #frame #sidepanel {
        width: 58px;
        min-width: 58px;
    }
}

#frame #sidepanel #profile {
    width: 95%;
    margin: 5px auto;
}

@media screen and (max-width: 735px) {
    #frame #sidepanel #profile {
        width: 100%;
        margin: 0 auto;
        padding: 5px 0 0 0;
        background: #32465a;
    }
}

#frame #sidepanel #profile.expanded .wrap {
    height: 210px;
    line-height: initial;
}

    #frame #sidepanel #profile.expanded .wrap p {
        margin-top: 20px;
    }

    #frame #sidepanel #profile.expanded .wrap i.expand-button {
        -moz-transform: scaleY(-1);
        -o-transform: scaleY(-1);
        -webkit-transform: scaleY(-1);
        transform: scaleY(-1);
        filter: FlipH;
        -ms-filter: "FlipH";
    }

#frame #sidepanel #profile .wrap {
    height: 80px;
    line-height: 60px;
    overflow: hidden;
    -moz-transition: 0.3s height ease;
    -o-transition: 0.3s height ease;
    -webkit-transition: 0.3s height ease;
    transition: 0.3s height ease;
}

@media screen and (max-width: 735px) {
    #frame #sidepanel #profile .wrap {
        height: 55px;
    }
}

#frame #sidepanel #profile .wrap img {
    width: 70px;
    border-radius: 50%;
    padding: 3px;
    border: 2px solid #e74c3c;
    height: auto;
    float: left;
    /*cursor: pointer;*/
    -moz-transition: 0.3s border ease;
    -o-transition: 0.3s border ease;
    -webkit-transition: 0.3s border ease;
    transition: 0.3s border ease;
}

@media screen and (max-width: 735px) {
    #frame #sidepanel #profile .wrap img {
        width: 40px;
        margin-left: 4px;
    }
}

#frame #sidepanel #profile .wrap img.online {
    border: 2px solid #2ecc71;
}

#frame #sidepanel #profile .wrap img.away {
    border: 2px solid #f1c40f;
}

#frame #sidepanel #profile .wrap img.busy {
    border: 2px solid #e74c3c;
}

#frame #sidepanel #profile .wrap img.offline {
    border: 2px solid #95a5a6;
}

#frame #sidepanel #profile .wrap p {
    float: left;
    margin-left: 15px;
    line-height: 20px;
    top: 0;
    position: relative;
    max-width: 220px;
}

    #frame #sidepanel #profile .wrap p span {
        display: block;
    }

@media screen and (max-width: 735px) {
    #frame #sidepanel #profile .wrap p {
        display: none;
    }
}

#frame #sidepanel #profile .wrap i.expand-button {
    float: right;
    margin-top: 23px;
    font-size: 0.8em;
    cursor: pointer;
    color: #435f7a;
}

@media screen and (max-width: 735px) {
    #frame #sidepanel #profile .wrap i.expand-button {
        display: none;
    }
}

#frame #sidepanel #profile .wrap #status-options {
    position: absolute;
    opacity: 0;
    visibility: hidden;
    width: 150px;
    margin: 70px 0 0 0;
    border-radius: 6px;
    z-index: 99;
    line-height: initial;
    background: #435f7a;
    -moz-transition: 0.3s all ease;
    -o-transition: 0.3s all ease;
    -webkit-transition: 0.3s all ease;
    transition: 0.3s all ease;
}

@media screen and (max-width: 735px) {
    #frame #sidepanel #profile .wrap #status-options {
        width: 58px;
        margin-top: 57px;
    }
}

#frame #sidepanel #profile .wrap #status-options.active {
    opacity: 1;
    visibility: visible;
    margin: 75px 0 0 0;
}

@media screen and (max-width: 735px) {
    #frame #sidepanel #profile .wrap #status-options.active {
        margin-top: 62px;
    }
}

#frame #sidepanel #profile .wrap #status-options:before {
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-bottom: 8px solid #435f7a;
    margin: -8px 0 0 24px;
}

@media screen and (max-width: 735px) {
    #frame #sidepanel #profile .wrap #status-options:before {
        margin-left: 23px;
    }
}

#frame #sidepanel #profile .wrap #status-options ul {
    overflow: hidden;
    border-radius: 6px;
}

    #frame #sidepanel #profile .wrap #status-options ul li {
        padding: 15px 0 30px 18px;
        display: block;
        cursor: pointer;
    }

@media screen and (max-width: 735px) {
    #frame #sidepanel #profile .wrap #status-options ul li {
        padding: 15px 0 35px 22px;
    }
}

#frame #sidepanel #profile .wrap #status-options ul li:hover {
    background: #496886;
}

#frame #sidepanel #profile .wrap #status-options ul li span.status-circle {
    position: absolute;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    margin: 5px 0 0 0;
}

@media screen and (max-width: 735px) {
    #frame #sidepanel #profile .wrap #status-options ul li span.status-circle {
        width: 14px;
        height: 14px;
    }
}

#frame #sidepanel #profile .wrap #status-options ul li span.status-circle:before {
    content: '';
    position: absolute;
    width: 14px;
    height: 14px;
    margin: -3px 0 0 -3px;
    background: transparent;
    border-radius: 50%;
    z-index: 0;
}

@media screen and (max-width: 735px) {
    #frame #sidepanel #profile .wrap #status-options ul li span.status-circle:before {
        height: 18px;
        width: 18px;
    }
}

#frame #sidepanel #profile .wrap #status-options ul li p {
    padding-left: 12px;
}

@media screen and (max-width: 735px) {
    #frame #sidepanel #profile .wrap #status-options ul li p {
        display: none;
    }
}

#frame #sidepanel #profile .wrap #status-options ul li#status-online span.status-circle {
    background: #2ecc71;
}

#frame #sidepanel #profile .wrap #status-options ul li#status-online.active span.status-circle:before {
    border: 1px solid #2ecc71;
}

#frame #sidepanel #profile .wrap #status-options ul li#status-away span.status-circle {
    background: #f1c40f;
}

#frame #sidepanel #profile .wrap #status-options ul li#status-away.active span.status-circle:before {
    border: 1px solid #f1c40f;
}

#frame #sidepanel #profile .wrap #status-options ul li#status-busy span.status-circle {
    background: #e74c3c;
}

#frame #sidepanel #profile .wrap #status-options ul li#status-busy.active span.status-circle:before {
    border: 1px solid #e74c3c;
}

#frame #sidepanel #profile .wrap #status-options ul li#status-offline span.status-circle {
    background: #95a5a6;
}

#frame #sidepanel #profile .wrap #status-options ul li#status-offline.active span.status-circle:before {
    border: 1px solid #95a5a6;
}

#frame #sidepanel #profile .wrap #expanded {
    padding: 100px 0 0 0;
    display: block;
    line-height: initial !important;
}

    #frame #sidepanel #profile .wrap #expanded label {
        float: left;
        clear: both;
        margin: 0 8px 5px 0;
        padding: 5px 0;
    }

    #frame #sidepanel #profile .wrap #expanded input {
        border: none;
        margin-bottom: 6px;
        background: #32465a;
        border-radius: 3px;
        color: #f5f5f5;
        padding: 7px;
        width: calc(100% - 43px);
    }

        #frame #sidepanel #profile .wrap #expanded input:focus {
            outline: none;
            background: #435f7a;
        }

#frame #sidepanel #search {
    border-top: 1px solid #32465a;
    border-bottom: 1px solid #32465a;
    font-weight: 300;
}

@media screen and (max-width: 735px) {
    #frame #sidepanel #search {
        display: none;
    }
}

#frame #sidepanel #search label {
    position: absolute;
    margin: 10px 0 0 20px;
}

#frame #sidepanel #search input {
    font-family: "proxima-nova", "Source Sans Pro", sans-serif;
    padding: 10px 0 10px 46px;
    width: calc(100% - 25px);
    border: none;
    background: #32465a;
    color: #f5f5f5;
}

    #frame #sidepanel #search input:focus {
        outline: none;
        background: #435f7a;
    }

    #frame #sidepanel #search input::-webkit-input-placeholder {
        color: #f5f5f5;
    }

    #frame #sidepanel #search input::-moz-placeholder {
        color: #f5f5f5;
    }

    #frame #sidepanel #search input:-ms-input-placeholder {
        color: #f5f5f5;
    }

    #frame #sidepanel #search input:-moz-placeholder {
        color: #f5f5f5;
    }

#frame #sidepanel #contacts, #waiting-users {
    height: calc(100% - 177px);
    max-height: 250px;
    overflow-y: auto;
    overflow-x: hidden;
    background: rgba(246, 246, 246,.7);
    min-height: 250px;
}

@media screen and (max-width: 735px) {
    #frame #sidepanel #contacts, #waiting-users {
        height: calc(100% - 149px);
        overflow-y: auto;
        overflow-x: hidden;
        background: rgba(246, 246, 246,.7);
    }

        #frame #sidepanel #contacts::-webkit-scrollbar, #waiting-users::-webkit-scrollbar {
            display: none;
        }
}

#frame #sidepanel #contacts.expanded, #waiting-users.expanded {
    height: calc(100% - 334px);
}

#frame #sidepanel #contacts::-webkit-scrollbar, #waiting-users::-webkit-scrollbar {
    width: 6px;
    background: #d4d4d4;
}

#frame #sidepanel #contacts::-webkit-scrollbar-thumb, #waiting-users::-webkit-scrollbar-thumb {
    background-color: #7d7d7d;
}

#frame #sidepanel #contacts ul li.contact, #waiting-users ul li.contact {
    position: relative;
    padding: 10px 0 15px 0;
    font-size: 0.9em;
    cursor: pointer;
    border-bottom: 1px solid #c7c7c7;
    /*margin-bottom:5px;*/
}

    #frame #sidepanel #contacts ul li.contact:first-child, #waiting-users ul li.contact:first-child {
        position: relative;
        font-size: 0.9em;
        cursor: pointer;
        /*border-top: 1px solid #c7c7c7;*/
        padding-top: 20px;
    }

@media screen and (max-width: 735px) {
    #frame #sidepanel #contacts ul li.contact, #waiting-users ul li.contact {
        padding: 6px 0 46px 8px;
    }
}

#frame #sidepanel #contacts ul li.contact:hover, #waiting-users ul li.contact:hover {
    background: #e8e8e8;
}

#frame #sidepanel #contacts ul li.contact.active, #waiting-users ul li.contact.active {
    background: #e8e8e8;
    border-left: 5px solid #435f7a;
}

    #frame #sidepanel #contacts ul li.contact.active span.contact-status, #waiting-users ul li.contact.active span.contact-status {
        border: 2px solid #32465a !important;
    }

#frame #sidepanel #contacts ul li.contact .wrap, #waiting-users ul li.contact .wrap {
    width: 93%;
    margin: 0 auto;
    position: relative;
}

@media screen and (max-width: 735px) {
    #frame #sidepanel #contacts ul li.contact .wrap, #waiting-users ul li.contact .wrap {
        width: 100%;
    }
}

#frame #sidepanel #contacts ul li.contact .wrap span.contact-status, #waiting-users ul li.contact .wrap span.contact-status {
    position: absolute;
    left: 0;
    margin: 35px 0 0 35px;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    border: 2px solid #fff !important;
    background: #95a5a6;
    text-align: center;
    vertical-align: middle;
}

#frame #sidepanel #profile .wrap span.contact-status {
    position: absolute;
    left: 0;
    margin: 50px 0 0 60px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 2px solid #fff !important;
    background: #95a5a6;
    text-align: center;
    vertical-align: middle;
    background-color: #95a5a6;
}

@media screen and (max-width: 1366px) {
    #frame #sidepanel #profile .wrap span.contact-status {
        position: absolute;
        left: 0;
        margin: 50px 0 0 60px;
        width: 20px;
        height: 20px;
        border-radius: 50%;
        border: 2px solid #fff !important;
        background: #95a5a6;
        text-align: center;
        vertical-align: middle;
        background-color: #95a5a6;
    }

    #frame #sidepanel #profile .wrap p {
        margin-left: 10px;
        max-width: 170px;
    }
}

/*#frame #sidepanel #contacts ul li.contact .wrap .unreadMessage, #waiting-users ul li.contact .wrap .unreadMessage {
    position: absolute;
    left: 50px;
    margin: -5px 0 0 -15px;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    background: #e74c3c;
    text-align: center;
    vertical-align: middle;
    font-weight: 600;
    color: #fff;
    padding-top: 1px;
}*/
.unreadMessage {
    position: absolute;
    right: 0;
    margin: 16px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #0096d6;
    text-align: center;
    vertical-align: middle;
    font-weight: 600;
    color: #fff;
    padding-top: 0;
    bottom: 0;
}

.add-chatlist:hover {
    box-shadow: 0 3px 6px rgba(0,0,0,.2), 0 3px 6px rgba(0,0,0,.26);
}

.add-chatlist {
    position: absolute;
    right: 0;
    margin: 10px 0 0 -10px;
    width: 70px;
    height: 25px;
    background: #2ad23f;
    text-align: center;
    vertical-align: middle;
    font-weight: 600;
    color: #fff;
    /*padding-top: 4px;*/
    border: 1px solid transparent;
    font-size: 12px;
    font-weight: 600;
    text-transform: uppercase;
    transition: box-shadow .28s cubic-bezier(.4,0,.2,1);
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    -o-border-radius: 2px;
    border-radius: 2px;
    overflow: hidden;
    user-select: none;
    /*padding: 8px 14px 7px;*/
    /*box-shadow:0 1px 3px rgba(0,0,0,.1), 0 1px 2px rgba(0,0,0,.18);*/
    color: #FFF;
    background-color: #3598dc;
    border-color: #3598dc;
}

#frame #sidepanel #contacts ul li.contact .wrap span.online {
    background: #2ecc71;
}

span.online {
    background: #2ecc71 !important;
}

#frame #sidepanel #contacts ul li.contact .wrap span.away {
    background: #f1c40f;
}

#frame #sidepanel #contacts ul li.contact .wrap span.busy {
    background: #e74c3c;
}

#frame #sidepanel #contacts ul li.contact .wrap img, #waiting-users ul li.contact .wrap img {
    width: 50px;
    border-radius: 50%;
    float: left;
    margin-right: 10px;
}

@media screen and (max-width: 735px) {
    #frame #sidepanel #contacts ul li.contact .wrap img {
        margin-right: 0px;
    }
}

#frame #sidepanel #contacts ul li.contact .wrap .meta {
    padding: 5px 0 0 0;
    width: 70%;
    display: inline-block;
}

#frame #sidepanel #waiting-users ul li.contact .wrap .meta {
    padding: 5px 0 0 0;
    width: 72%;
    display: inline-block;
}

@media screen and (max-width: 735px) {
    #frame #sidepanel #contacts ul li.contact .wrap .meta {
        display: none;
    }
}

#frame #sidepanel #contacts ul li.contact .wrap .meta .name, #waiting-users ul li.contact .wrap .meta .name {
    font-weight: 600;
}

#frame #sidepanel #contacts ul li.contact .wrap .meta .preview, #waiting-users ul li.contact .wrap .meta .preview {
    margin: 0 0 0 0;
    padding: 0 0 1px;
    font-weight: 400;
    /*white-space: nowrap;*/
    overflow: hidden;
    text-overflow: ellipsis;
    -moz-transition: 1s all ease;
    -o-transition: 1s all ease;
    -webkit-transition: 1s all ease;
    transition: 1s all ease;
}

    #frame #sidepanel #contacts ul li.contact .wrap .meta .preview span, #waiting-users ul li.contact .wrap .meta .preview span {
        position: initial;
        border-radius: initial;
        background: none;
        border: none;
        padding: 0 2px 0 0;
        margin: 0 0 0 1px;
        opacity: .5;
    }

#frame #sidepanel #bottom-bar {
    position: absolute;
    width: 100%;
    bottom: 0;
}

    #frame #sidepanel #bottom-bar button {
        float: left;
        border: none;
        width: 50%;
        padding: 10px 0;
        background: #32465a;
        color: #f5f5f5;
        cursor: pointer;
        font-size: 0.85em;
        font-family: "proxima-nova", "Source Sans Pro", sans-serif;
    }

@media screen and (max-width: 735px) {
    #frame #sidepanel #bottom-bar button {
        float: none;
        width: 100%;
        padding: 15px 0;
    }
}

#frame #sidepanel #bottom-bar button:focus {
    outline: none;
}

#frame #sidepanel #bottom-bar button:nth-child(1) {
    border-right: 1px solid #2c3e50;
}

@media screen and (max-width: 735px) {
    #frame #sidepanel #bottom-bar button:nth-child(1) {
        border-right: none;
        border-bottom: 1px solid #2c3e50;
    }
}

#frame #sidepanel #bottom-bar button:hover {
    background: #435f7a;
}

#frame #sidepanel #bottom-bar button i {
    margin-right: 3px;
    font-size: 1em;
}

@media screen and (max-width: 735px) {
    #frame #sidepanel #bottom-bar button i {
        font-size: 1.3em;
    }
}

@media screen and (max-width: 735px) {
    #frame #sidepanel #bottom-bar button span {
        display: none;
    }
}

#mesgs {
    float: right;
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
    /*width: 100%;
    height: 100%;*/
    /*overflow: hidden;
    position: relative;
    min-height: 300px;*/
}

.chat-bg {
    background-image: url(/Content/img/chat-bg.png);
    background-position: center center;
    /*filter: alpha(opacity=50);*/
    /*background-size: contain;*/
    background-repeat: no-repeat;
}

#mesgs .msg_history {
    float: right;
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
    /*border-left: 1px solid #ccc;*/
    -webkit-appearance: none;
    box-shadow: 0 20px 65px -20px rgba(36, 38, 52, 0.2);
    background-color: #f4f5f6;
    border-radius: 0 0 10px 10px;
}

@media screen and (max-width: 735px) {
    #mesgs {
        width: calc(100% - 58px);
        min-width: 300px !important;
    }
}

@media screen and (min-width: 900px) {
    /*#mesgs {
            width: 100%;
        }*/
}

#mesgs .messages ul li.connectedtime {
    display: flex;
    justify-content: center;
    height: 41px;
    margin-top: 10px;
}

li.connectedtime.red p{
    background-color: rgba(240, 179, 0, 0.24)!important;
     color: #fab100!important;
}

#mesgs .messages ul li.connectedtime p {
    min-width: 400px;
    float: right;
    word-break: break-word;
    background-color: rgba(79, 204, 89, 0.24);
    font-family: 'Proxima Nova Semibold' !important;
    font-size: 12px !important;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #4fcc59;
    line-height: 20px;
    border-radius: 20px 20px 20px 20px !important;
}
.remainingtime>.addtwomin-text{
        font-family: ProximaNova-Regular!important;
    font-size: 12px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #92939a;
    position: relative!important;
    right:6px;
}
    #mesgs .messages ul li.connectedtime p span {
        float: right;
    }

#mesgs .messages ul li p span {
    float: right;
    margin-left: 10px;
    font-size: 12px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 18px;
    letter-spacing: normal;
    color: #7a7a7a;
    opacity: 0.7;
}

#mesgs .contact-profile {
    height: 106px;
    overflow-y: hidden;
    overflow-x: hidden;
    border-radius: 10px 10px 0 0;
    box-shadow: 0 20px 35px -20px rgba(36,39,52,.41);
    background-color: #242634;
    padding: 20px 10px;
}

    #mesgs .contact-profile ul {
        list-style-type: none;
        padding: 0;
        margin-bottom: 0;
    }
    /*#mesgs .contact-profile img {
        width: auto;
        float: left;
        margin: 9px 12px 0 9px;
        max-height: 40px;
    }*/

    #mesgs .contact-profile p {
        float: left;
    }

    #mesgs .contact-profile .social-media {
        float: right;
    }

        #mesgs .contact-profile .social-media i {
            margin-left: 14px;
            cursor: pointer;
        }

            #mesgs .contact-profile .social-media i:nth-last-child(1) {
                margin-right: 20px;
            }

            #mesgs .contact-profile .social-media i:hover {
                color: #435f7a;
            }

#mesgs .messages {
    height: auto;
    min-height: calc(100% - 64px);
    max-height: calc(100% - 64px);
    /*overflow-y: scroll;
    overflow-x: hidden;*/
}



#mesgs .msg_history .messages {
    height: auto;
    min-height: calc(100% -160px);
    max-height: calc(100% - 234px);
    width: 100%;
    overflow-y: auto;
    overflow-x: hidden;
    -webkit-appearance: none;
    box-shadow: 0 20px 65px -20px rgba(36, 38, 52, 0.2);
    background-color: #f4f5f6;
}

@media screen and (max-width: 735px) {
    #mesgs .messages {
        max-height: calc(100% - 105px);
    }
}

#mesgs .messages::-webkit-scrollbar {
    width: 8px;
    background: transparent;
}

#mesgs .messages::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.3);
}

.company-content-left::-webkit-scrollbar {
    width: 8px;
    background: #e8e9eb;
    border-radius: 5px;
}

.company-content-left::-webkit-scrollbar-thumb {
    background-color: #c4c5c5;
    border-radius: 5px;
}


#mesgs .messages ul li {
    display: inline-block;
    clear: both;
    float: left;
    margin: 5px 15px 5px 15px;
    width: calc(100% - 25px);
    font-size: 0.9em;
}

    #mesgs .messages ul li:nth-last-child(1) {
        margin-bottom: 50px;
    }

    #mesgs .messages ul li.sent img {
        margin: 0 0 0 8px;
        float: right;
    }

    #mesgs .messages ul li.sent p {
        float: right;
        word-break: break-word;
        background: rgba(0,150,214,.25);
        font-size: 14px !important;
        font-weight: 600;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        letter-spacing: normal;
        color: #242734 !important;
        font-family: 'Proxima Nova Semibold' !important;
    }

        #mesgs .messages ul li.sent p a {
            color: #f5f5f5;
            text-decoration: underline;
        }

    #mesgs .messages ul li.replies img {
        float: left;
        margin: 0 8px 0 0;
    }

    #mesgs .messages ul li.replies p {
        background: #ffffff;
        float: left;
        word-break: break-word;
        font-size: 14px;
        font-weight: 600;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        letter-spacing: normal;
        color: #242734;
        font-family: 'Proxima Nova Semibold' !important;
    }

        #mesgs .messages ul li.replies p a {
            color: #333;
            text-decoration: underline;
        }

    #mesgs .messages ul li img {
        width: 32px;
        border-radius: 50%;
        float: left;
    }

    #mesgs .messages ul li p {
        display: inline-block;
        padding: 10px 15px;
        border-radius: 20px 20px 0 20px;
        max-width: 205px;
        line-height: 130%;
    }

    #mesgs .messages ul li.replies p {
        border-radius: 0 20px 20px 20px;
    }

@media screen and (min-width: 735px) {
    #mesgs .messages ul li p {
        max-width: 300px;
    }
}

#mesgs .message-input {
    position: absolute;
    bottom: 0;
    width: 100%;
    z-index: 99;
}

    #mesgs .message-input .wrap {
        position: relative;
    }

        #mesgs .message-input .wrap input {
            /*font-family: "proxima-nova", "Source Sans Pro", sans-serif;
            float: left;
            border: none;
            width: calc(100% - 50px);
            padding: 11px 32px 10px 8px;
            font-size: 1em;
            color: #32465a;*/
            font-family: ProximaNova-Regular !important;
            float: left;
            border: none;
            width: calc(100% - 70px);
            padding: 13px 32px 10px 20px;
            /*border-left: 1px solid #ddd;*/
            height: 64px;
            font-size: 12px;
            font-weight: normal;
            font-stretch: normal;
            font-style: normal;
            line-height: normal;
            letter-spacing: normal;
            color: rgba(36, 39, 52, 0.35);
            background-color: #fff;
        }

/*#mesgs .message-input .wrap input:focus {
                font-size: 14px;
                font-weight: 600;
                font-stretch: normal;
                font-style: normal;
                line-height: normal;
                letter-spacing: normal;
                color: #242734;
            }*/

@media screen and (max-width: 735px) {
    /*#mesgs .message-input .wrap input {
        padding: 15px 32px 16px 8px;
    }*/
}

#mesgs .message-input .wrap input:focus {
    outline: none;
}

#mesgs .message-input .wrap .attachment {
    position: absolute;
    right: 60px;
    z-index: 4;
    margin-top: 10px;
    font-size: 1.1em;
    color: #435f7a;
    opacity: .5;
    cursor: pointer;
}

@media screen and (max-width: 735px) {
    #mesgs .message-input .wrap .attachment {
        margin-top: 17px;
        right: 65px;
    }
}

#mesgs .message-input .wrap .attachment:hover {
    opacity: 1;
}

#mesgs .message-input .wrap button {
    float: right;
    border: none;
    width: 70px;
    padding: 12px 0;
    cursor: pointer;
    background: #6549b0;
    color: #f5f5f5;
    height: 64px;
    background-color: #fff;
}

@media screen and (max-width: 735px) {
    #mesgs .message-input .wrap button {
        padding: 16px 0;
    }
}

#mesgs .message-input .wrap button:hover {
    /*background: #8264d6;*/
}

#mesgs .message-input .wrap button:focus {
    outline: none;
}

.networking-name {
    margin-top: 5px;
    font-weight: 500;
}

#frame #sidepanel #contacts ul li.contact .wrap .offline {
    right: 0 !important;
}

.user-profile-link {
    text-decoration: none;
    color: inherit;
}

.accordion .card h2 {
    margin: 5px 0;
}

.btn-usercontactlist {
    text-align: left;
    width: 100%;
    /*border-left: 1px solid #dfdfdf;
        border-top: 1px solid #dfdfdf;*/
    border-bottom: 2px solid #dfdfdf;
}

    .btn-usercontactlist:hover {
        color: #000 !important;
        border-left: 1px solid #dfdfdf;
        border-top: 1px solid #dfdfdf;
        border-bottom: 1px solid #dfdfdf;
        box-shadow: 0 1px 1px rgba(0,0,0,.1), 0 1px 1px rgba(0,0,0,.18);
    }

    .btn-usercontactlist:active {
        text-decoration: none;
    }

.expired {
    position: absolute;
    right: 0;
    margin: 10px 0 0 -10px;
    width: 100px;
    height: 25px;
    text-align: center;
    vertical-align: middle;
    color: #242734;
    border: 1px solid transparent;
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
    transition: box-shadow .28s cubic-bezier(.4,0,.2,1);
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    -o-border-radius: 2px;
    border-radius: 2px;
    overflow: hidden;
    user-select: none;
    font-family: 'Proxima Nova Semibold' !important;
    font-size: 16px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    display: none;
    color: #e74c3c !important;
}

.time {
    position: absolute;
    right: 0;
    margin: 10px 0 0 -10px;
    width: 70px;
    height: 25px;
    text-align: center;
    vertical-align: middle;
    color: #242734;
    border: 1px solid transparent;
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
    transition: box-shadow .28s cubic-bezier(.4,0,.2,1);
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    -o-border-radius: 2px;
    border-radius: 2px;
    overflow: hidden;
    user-select: none;
    font-family: 'Proxima Nova Bold' !important;
    font-size: 16px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
}

.time-chatwindow {
    position: relative;
    right: 0;
    margin: 10px 0 0 -10px;
    width: 70px;
    height: 25px;
    text-align: center;
    vertical-align: middle;
    color: #fff;
    border: 1px solid transparent;
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
    transition: box-shadow .28s cubic-bezier(.4,0,.2,1);
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    -o-border-radius: 2px;
    border-radius: 2px;
    overflow: hidden;
    user-select: none;
    color: #FFF;
}

    .time.blue, .time-chatwindow.blue {
        color: #3598dc !important;
    }

    .time.red, .time-chatwindow.red {
        color: #e74c3c !important;
    }

.btn-usercontactlist {
    text-transform: capitalize;
    color: #000 !important;
}

.chat-buttons {
    display: none;
}

textarea[name=Note] {
    resize: none;
}


.fullscreen #frame {
    max-height: 100%;
}

.fullscreen .right-sidebar {
    height: 100%;
}

.fullscreen .portlet {
    height: 100%;
}

/*.fullscreen  #frame #sidepanel #contacts,  .fullscreen #waiting-users
    {
        min-height:350px;
    }*/
.fullscreen .accordion {
    height: 100%;
}

    .fullscreen .accordion .card:last-child {
        height: 100%;
    }

        .fullscreen .accordion .card:last-child .collapse {
            height: 100%;
        }

            .fullscreen .accordion .card:last-child .collapse .card-body {
                height: 100%;
            }

.fullscreen #frame #sidepanel #contacts {
    max-height: 100%;
}


.btn-returnfuaye {
    cursor: pointer;
    font-family: 'Open Sans' !important;
    font-size: 14px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: right;
    color: #fffeff;
    width: 240px;
    height: 50px;
    border-radius: 40px !important;
    background-color: #242734;
    text-align: center;
}

    .btn-returnfuaye:hover {
        color: #fffeff;
    }

    .btn-returnfuaye:active {
        color: #fffeff;
    }

    .btn-returnfuaye:focus {
        color: #fffeff;
    }

.btn-arrow {
    display: inline-block;
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    left: 14px;
    position: absolute;
}

    .btn-arrow:after {
        width: 6px;
        height: 4px;
        object-fit: contain;
        content: url('/Content/img/btn-arrow.svg');
        top: -1px;
        position: relative;
    }

.blue-arrow {
    color: #0097dc !important;
}

.returnfuaye-info {
    font-size: 13px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #92939a;
    margin-top: 10px;
}

.page-content {
    background-color: #f4f5f6 !important;
}

li.user {
    padding-bottom: 30px;
    display: inline-flex;
    min-width: 210px;
    position: relative;
    list-style: none;
}

    li.user .profile-img {
        width: 72px;
        border-radius: 50%;
        height: 100%;
        float: left;
        cursor: default;
        -moz-transition: .3s border ease;
        -o-transition: .3s border ease;
        -webkit-transition: .3s border ease;
        transition: .3s border ease;
        box-shadow: 0 20px 65px -20px rgba(36,38,52,.2);
    }

    li.user .info {
        display: flex;
        align-self: center;
        flex-direction: column;
        margin-left: 10px;
    }

        li.user .info .name {
            font-family: 'ProximaNova-Regular' !important;
            font-size: 18px;
            font-weight: normal;
            font-stretch: normal;
            font-style: normal;
            line-height: normal;
            letter-spacing: normal;
            color: #242734;
            margin-bottom: 5px;
            text-align: left;
        }

        li.user .info .title {
            font-family: 'Proxima Nova Bold' !important;
            font-size: 14px;
            font-weight: bold;
            font-stretch: normal;
            font-style: normal;
            line-height: normal;
            letter-spacing: normal;
            color: #c4197f;
            margin-bottom: 3px;
            text-align: left;
        }

        li.user .info .companyname {
            font-family: ProximaNova-Regular !important;
            font-size: 12px;
            font-weight: normal;
            font-stretch: normal;
            font-style: normal;
            line-height: normal;
            letter-spacing: normal;
            color: #92939a;
            text-transform: uppercase;
            text-align: left;
        }

    li.user .contact-status {
        position: absolute;
        left: 0;
        margin: 60px 0 0 50px;
        width: 12px;
        height: 12px;
        border-radius: 50%;
        background: #95a5a6;
        text-align: center;
        vertical-align: middle;
        box-shadow: 0 0 4px 0 #95a5a6;
    }

.company-content-left {
    min-height: 422px;
    max-height: 624px;
    height: 624px;
    border-radius: 10px;
    box-shadow: 0 20px 65px -20px rgba(36, 38, 52, 0.2);
    background-color: #ffffff;
}

.company-content-right {
    height: 624px;
    min-height: 624px;
    max-height: 624px;
    border-radius: 10px;
    box-shadow: 0 20px 65px -20px rgba(36, 38, 52, 0.2);
    background-color: #f4f5f6;
}

.content-card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    background-color: #fff;
    background-clip: border-box;
}

.gorusulenyetenek {
    font-family: 'Proxima Nova Bold' !important;
    font-size: 20px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #242734;
    margin: 2px 0;
}

.bekleyenyetenek {
    font-family: 'Proxima Nova Bold' !important;
    font-size: 20px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #242734;
    margin: 2px 0;
}

li.candidate.active {
    background-color: #f4f5f6 !important;
}

li.candidate:hover {
    background-color: #f4f5f6 !important;
}

li.candidate {
    padding-bottom: 30px;
    display: inline-flex;
    min-width: 210px;
    position: relative;
    list-style: none;
    padding: 13px 0 13px 25px;
    width: 100%;
    cursor: pointer;
}

    li.candidate .profile-img {
        width: 72px;
        border-radius: 50%;
        height: 100%;
        float: left;
        cursor: default;
        -moz-transition: .3s border ease;
        -o-transition: .3s border ease;
        -webkit-transition: .3s border ease;
        transition: .3s border ease;
        box-shadow: 0 20px 65px -20px rgba(36,38,52,.2);
        background-color: #fff;
    }

    li.candidate .info {
        display: flex;
        align-self: center;
        flex-direction: column;
        margin-left: 10px;
    }

        li.candidate .info .name {
            font-family: 'Proxima Nova Semibold' !important;
            font-size: 16px;
            font-weight: normal;
            font-stretch: normal;
            font-style: normal;
            line-height: normal;
            letter-spacing: normal;
            color: #242734;
            margin-bottom: 2px;
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;
            max-width: 220px;
        }

        li.candidate .info .title {
            font-family: 'Proxima Nova Bold' !important;
            font-size: 14px;
            font-weight: bold;
            font-stretch: normal;
            font-style: normal;
            line-height: normal;
            letter-spacing: normal;
            color: #c4197f;
            margin-bottom: 2px;
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;
            max-width: 220px;
        }

        li.candidate .info .companyname {
            font-family: ProximaNova-Regular !important;
            font-size: 12px;
            font-weight: normal;
            font-stretch: normal;
            font-style: normal;
            line-height: normal;
            letter-spacing: normal;
            color: #92939a;
            text-transform: uppercase;
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;
            max-width: 230px;
        }

    li.candidate .contact-status {
        position: absolute;
        left: 0;
        margin: 60px 0 0 75px;
        width: 12px;
        height: 12px;
        border-radius: 50%;
        background: #95a5a6;
        text-align: center;
        vertical-align: middle;
        box-shadow: 0 0 4px 0 #95a5a6;
    }


.page-content {
    padding-top: 4px !important;
}

#gorusulen {
    height: 100%;
    margin: 0;
    padding: 0;
}

    #gorusulen:after {
        width: 100%;
        margin: 10px 0;
        border-bottom: 1px solid #dadbdf;
        content: '';
    }

#bekleyen {
    height: 100%;
    margin: 0;
    padding: 0;
}

.hr {
    width: 100%;
    height: 1px;
    background-color: #4f526a;
}


.companyusername {
    font-family: ProximaNova-Regular !important;
    font-size: 16px !important;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #f4f5f6;
    margin: 0 0 3px 6px;
}

.companyusertitle {
    font-family: ProximaNova-Regular !important;
    font-size: 12px !important;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #c4c5c5;
    margin: 0 0 3px 6px;
}

.usercompanyname {
    font-family: ProximaNova-Regular !important;
    font-size: 12px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #c4c5c5;
    text-transform: uppercase;
    margin: 0 0 3px 6px;
}

.candidate-uni {
    font-family: 'ProximaNova-Regular' !important;
    font-size: 12px !important;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #232735 !important;
    opacity: 0.9;
}

.candidate-level {
    font-family: 'ProximaNova-Regular' !important;
    font-size: 12px !important;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #232735 !important;
    opacity: 0.5;
}

.contact-profile .candidate-uni {
    color: #f4f5f6 !important;
    margin: 0 0 3px 6px;
}

.align-items-end {
    align-items: flex-end !important;
}

.align-self-end {
    align-self: flex-end !important;
}

.justify-content-end {
    justify-content: flex-end !important;
}

.d-flex {
    display: flex !important;
}

.d-inline-flex {
    display: inline-flex !important;
}

.justify-content-center {
    justify-content: center !important;
}

.align-self-center {
    align-self: center !important;
}

img.dot {
    height: 56px !important;
    width: 56px !important;
    border-radius: 50%;
    display: inline-block;
    max-height: 56px;
    object-fit: contain;
    min-height: 56px;
    box-shadow: 0 0 1px 1px rgba(0,0,0,.1), 0 0 1px 1px rgba(0,0,0,.18);
    /*background-color:#fff;*/
}

.flex-column {
    flex-direction: column !important;
}

.btn-endconversation {
    font-family: ProximaNova-Regular !important;
    font-size: 12px !important;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: right;
    color: #f0b300;
    text-decoration: none;
}

.remainingtime {
    float: right;
    position: relative;
    bottom: -20px;
}

    .remainingtime > .time-text {
        font-family: ProximaNova-Regular !important;
        font-size: 12px;
        font-weight: bold;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        letter-spacing: normal;
        color: #92939a;
        position: relative !important;
    }

.btn-endconversation:hover {
    text-decoration: underline !important;
    color: #f0b300 !important;
}

.contact-profile .time {
    position: relative;
    right: 0;
    width: 50px;
    min-width: 50px;
    margin-left: 3px;
    height: 30px;
    text-align: center;
    vertical-align: middle;
    color: #242734;
    border: 1px solid transparent;
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
    transition: box-shadow .28s cubic-bezier(.4,0,.2,1);
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    -o-border-radius: 2px;
    border-radius: 2px;
    overflow: hidden;
    user-select: none;
    font-family: ProximaNova-Regular !important;
    font-size: 16px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #fff;
    margin: 0;
}

.showcandidateinfo {
    margin-top: 12px;
    cursor: pointer;
}

    .showcandidateinfo .rectangle {
        width: 20px;
        height: 2px;
        opacity: 0.45;
        border-radius: 1px;
        background-color: #e0e1e4;
        display: inline-flex;
        margin-bottom: 2px;
    }

    .showcandidateinfo .rectangle2 {
        width: 10px;
        height: 2px;
        opacity: 0.45;
        border-radius: 1px;
        background-color: #e0e1e4;
        display: inline-flex;
        margin-bottom: 2px;
    }

.align-items-center {
    align-items: center;
}

.candidateinfo {
    margin: 30px 0 !important;
    height: 250px !important;
    display: none;
}

    .candidateinfo .left {
        border-radius: 10px;
        background-color: #363848;
        padding: 20px;
        display: flex;
        flex-direction: column;
    }

        .candidateinfo .left > div, .candidateinfo .right > div {
            margin-bottom: 8px;
        }

    .candidateinfo .right {
        border-radius: 10px;
        background-color: #363848;
        padding: 20px;
        display: flex;
        flex-direction: column;
    }

    .candidateinfo .title {
        font-family: 'Proxima Nova Bold' !important;
        font-size: 20px;
        font-weight: bold;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        letter-spacing: normal;
        color: #ffffff;
        margin-top: 0;
        margin-bottom: 25px;
    }

    .candidateinfo div.r {
        padding: 0;
        margin-bottom: 8px;
    }

        .candidateinfo div.r div[class*="col-"] {
            padding: 0;
        }

    .candidateinfo span.text {
        font-family: ProximaNova-Regular !important;
        font-size: 14px;
        font-weight: 600;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        letter-spacing: normal;
        color: #ffffff;
        opacity: 0.5;
        display: block;
    }

    .candidateinfo span.value {
        font-family: ProximaNova-Regular !important;
        font-size: 14px;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        letter-spacing: normal;
        color: #ffffff;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
        display: block;
    }

.btn-show-profile {
    font-family: 'Proxima Nova Extrabold' !important;
    font-size: 14px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #0096d6 !important;
}

    .btn-show-profile:hover {
        text-decoration: underline;
        color: #0096d6 !important;
    }

.contact-profile.show .candidateinfo {
    display: block;
}

.contact-profile.show {
    display: block !important;
    height: 415px !important;
}

.btn-skip {
    cursor: pointer;
    font-size: 14px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #ffffff;
    color: #fffeff;
    width: 121px;
    height: 50px;
    border-radius: 40px;
    border: solid 2px #ffffff;
    text-align: center;
}

    .btn-skip:hover {
        color: #fffeff;
    }

.btn-start {
    cursor: pointer;
    font-family: 'Open Sans' !important;
    font-size: 14px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #ffffff;
    color: #fffeff;
    width: 138px;
    height: 50px;
    border-radius: 40px !important;
    background-color: #4fcc59;
    text-align: center;
}

    .btn-start:hover {
        color: #ffffff;
    }

.content .message-input .wrap button .fa {
    font-size: 22px;
    /*color: #0097dc;*/
}

.write_msg::-webkit-input-placeholder, .write_msg:-ms-input-placeholder, .write_msg::placeholder { /* Edge */
    font-family: ProximaNova-Regular !important;
    font-size: 12px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: rgba(36, 39, 52, 0.35);
}

/*#mesgs .message-input .wrap input:first-letter{
    text-transform:capitalize;
}*/

.btn-saveandreturnfair {
    font-family: 'Open Sans' !important;
    font-size: 14px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #0096d6;
    margin-top: 4px;
}

    .btn-saveandreturnfair:hover {
        text-decoration: underline;
        color: #0096d6;
    }

.endeduser {
    border-left: 2px solid red;
}

.wrote {
    font-size: 14px !important;
    font-weight: 600 !important;
    font-stretch: normal !important;
    font-style: normal !important;
    line-height: normal !important;
    letter-spacing: normal !important;
    color: #242734 !important;
}

.typing {
    font-family: 'Proxima Soft Semibold It' !important;
    font-size: 12px !important;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #c2c3c7 !important;
    height: 20px;
    /*position: absolute;
    left: 30px;
    top: -40px;*/
    position: relative;
    left: 25px;
    top: -10px;
    display: none;
    padding-top: 5px;
}

    .typing.show {
        display: block !important;
    }

.exit-queueconversation {
    cursor: pointer;
    height: 19px;
    font-family: 'Open Sans' !important;
    font-size: 14px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #f0b300;
    border: none;
    background: transparent;
    margin-right: 20px;
}

    .exit-queueconversation:focus, .exit-queueconversation:active {
        border: none;
        outline: 0;
    }

.continue-queueconversation {
    cursor: pointer;
    font-family: 'Open Sans' !important;
    font-size: 14px !important;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #fffeff;
    width: 136px;
    height: 50px;
    border-radius: 40px;
    background-color: #242734;
    border: none;
}

#swal2-content {
    font-family: ProximaNova-Regular !important;
    font-size: 17px !important;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #232735;
    margin-bottom: 15px;
}

.swal2-modal {
    width: 330px;
}

.shownotalent .Combined-Shape {
    width: 26px;
    height: 28px;
    object-fit: contain;
}

.no-talent {
    display: none;
}

.shownotalent .no-talent {
    margin: 60px 20px 10px 20px;
    display: block;
}

.shownotalent .no-talent-text {
    display: block;
    margin-top: 10px;
    font-family: ProximaNova-Regular !important;
    font-family: Prox;
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #c4c5c5;
}

.taketime {
    padding: 7px 5px !important;
    display: inline-flex;
    align-self: center;
    margin-right: 8px;
    border-radius: 10%;
    background-color: #0096d6;
    color: #fff;
    text-transform: none !important;
    font-size:14px!important;
}

    .taketime:hover {
        padding: 7px 5px !important;
        display: inline-flex;
        align-self: center;
        margin-right: 8px;
        border-radius: 10%;
        background-color: #0096d6;
        color: #fff;
        text-transform: none !important;
            font-size:14px!important;
    }

    
.btn-savenotes{
        font-family: 'Open Sans'!important;
    font-size: 14px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #0096d6;
    margin-top: 4px;
    text-decoration:none;
}