.d-flex {
    display: flex;
}

.card-company {
    border: solid 1px #dadbdf;
    border-radius: 20px !important;
    box-shadow: none;
}

.card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,.125);
    margin-bottom: 20px;
}

.card-image-holder {
    position: relative;
}

.company-description {
    padding: 21px;
    width: 100%;
    height: 100px;
    position: absolute;
    bottom: 0;
    left: 0;
    border-radius: 0 5px 5px 0;
    color: #fff;
    font-size: 13px;
    flex-flow: wrap;
    flex-wrap: wrap;
    background-image: linear-gradient(to bottom,rgba(35,39,53,0),#232735);
}

.card-image-holder a > .card-img-top {
    border-radius: 20px !important;
}

.card-img-top {
    width: 100%;
}

.img-fluid {
    max-width: 100%;
    height: auto;
}

.room .card {
    min-height: 250px;
}

.card-companylogo {
    padding: 10px;
    width: 80px;
    height: 40px;
    background: #fff;
    position: absolute;
    top: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,.2);
    border-radius: 4px;
}

.card-body {
    flex: 1 1 auto;
    padding: .4rem;
}
 .card-logo{
            padding: 10px;
    width: 120px;
    height: 50px;
    background: #fff;
    position: absolute;
    top: 20px;
    left: -5px;
    box-shadow: 0 0 10px rgba(0,0,0,.2);
    border-radius: 0 5px 5px 0;
    }
    .card-logo img{
        max-height:30px;
    }
.room {
    padding-right: 1px;
    max-width: 380px;
}

.room-info {
    display: flex;
    justify-content: space-between;
    /*padding: 0 1%;*/
    margin: 10px 2px;
}

    .room-info .item {
        width: 104px;
        height: 75px;
        border-radius: 4px;
        background-color: #f4f5f6;
        font-size: 13px;
        justify-content: center;
        padding: 10px 0;
        align-items: flex-start;
        flex-flow: row;
        flex-wrap: wrap;
    }

.executive {
    width: 32px;
    height: 32px;
    object-fit: contain;
}

.room-info .item-title {
    width: 57px;
    height: 28px;
    font-family: 'Proxima Nova Semibold' !important;
    font-size: 12px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #0097dc;
}

.room-info .item-value {
    width: 70px;
    height: 19px;
    font-family: 'Proxima Nova Bold' !important;
    font-size: 16px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #242734;
    display: flex;
    align-items: baseline;
}

.room-actions {
    display: block;
    position: relative;
    height: 70px;
    top: 10px;
}

.btn-detail:first-child {
    height: 19px;
    font-family: 'Open Sans';
    font-size: 14px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #242734;
    line-height: 50px;
    position: relative;
    margin-right: 20px;
}

.btn-detail {
    height: 19px;
    font-family: 'Open Sans';
    font-size: 14px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #242734;
    line-height: 50px;
    position: relative;
    text-decoration: underline;
}

.card-company .company-name {
    /*left: 95px;*/
    position: relative;
    font-family: ProximaNova-Regular !important;
    font-size: 24px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #fff;
      height: 35px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    max-width: 240px;
}

.company-description p {
    font-family: ProximaNova-Regular !important;
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #fff;
    margin: 0!important;
}

.card-company-logo {
    width: 300px;
    height: 35px;
    display: flex;
    justify-content: flex-start;
    justify-self: right;
    align-items: center;
}

