
    .lobby {
    }

        .lobby .rooms {
            margin: auto;
            /*flex-wrap: nowrap;*/
        }

    .rooms .card {
        box-shadow: none;
        border: 1px solid #b1b1b1;
        margin: 5px 5px;
        padding: 5px 13px;
    }
    
    @media only screen and (max-width: 768px) {
        .lobby .rooms {
            margin: auto;
        }

        .rooms .card {
            width: 100%;
        }
    }

    @media only screen and (min-width: 1024px) {
        div.wrap p {
            min-width: 60%;
        }
    }

    .rooms .col-md-6 {
        flex: auto;
    }

    .rooms .room {
        flex: auto;
        padding: 5px 5px;
    }

    .btn-joinroom {
        color: #fff;
        background-color: #4E92CE;
        border-color: #4E92CE;
        width: 100%;
        text-transform: capitalize !important;
        letter-spacing: 0.2px;
    }

    .room-name {
        margin-bottom: 16px;
        font-size: 18px;
        font-weight: 500;
    }

    .room-participants {
        font-weight: 500;
        font-size: 14px;
    }

    .participants {
    }

    .participants-user {
        min-height: 60px;
    }

        .participants-user li {
            font-size: 13px;
            color: #848484;
        }

    .rooms .close-icon {
        color: #e81f1f;
        font-size: 18px;
        cursor: pointer;
    }

    .room .card {
        min-height: 250px;
    }

    .newroom {
        line-height: 250px;
        text-align: center;
        position: relative;
    }

        .newroom a {
            color: #dc188a;
            font-weight: 600;
            font-size: 18px;
            text-decoration: none;
            transition: all 0.4s ease 0s;
        }

            .newroom a:hover {
                color: #ba1e79;
                font-size: 20px;
                transition: all 0.4s ease 0s;
            }

    .networkingname {
        font-weight: 500;
    }

    .roomInfo ul {
        list-style-type: none;
        padding: 0 0 0 8px;
    }

    .LeftDescription {
        background-color: white;
    }

    #profile {
        width: 100%;
        margin: 5px auto;
        padding: 10px 12px;
    }

        #profile .wrap {
            height: 100px;
            line-height: 60px;
            overflow: hidden;
            -moz-transition: 0.3s height ease;
            -o-transition: 0.3s height ease;
            -webkit-transition: 0.3s height ease;
            transition: 0.3s height ease;
            box-shadow: 0 1px 0 1px rgba(0,0,0,.1);
            padding: 10px 12px;
            background-color: #f9f9f9;
        }

            #profile .wrap img {
                width: 70px;
                border-radius: 50%;
                height: auto;
                float: left;
                cursor: pointer;
                -moz-transition: 0.3s border ease;
                -o-transition: 0.3s border ease;
                -webkit-transition: 0.3s border ease;
                transition: 0.3s border ease;
                vertical-align: middle;
            }

            #profile .wrap p {
                float: left;
                margin-left: 15px;
                line-height: 8px;
                top: 5px;
                position: relative;
                width: 170px;
                margin-top: 0;
            }

    .company-info p {
        margin-bottom: 2px;
    }

        .company-info p:last-child {
            margin-top: 10px;
        }

            .page-content {
        padding: 0 !important;
    }

    .fair-content .header {
        margin: auto;
        width: 100%;
        height: auto;
        box-shadow: 0 20px 65px -20px rgba(36,38,52,.2);
        background-color: #fff;
        padding: 0;
        width: 100%;
        margin: auto;
        float: left;
        margin-bottom: 20px;
        padding: 20px 50px;
    }

    .fair-content .first-sub-header {
        padding: 0 0 20px 0;
        margin: 0 auto;
        display: flex;
    }

    .fair-content .second-sub-header {
        padding: 15px 0;
        margin: 0 auto;
    }

    .event {
        width: 100%;
        display: block;
        position: relative;
        font-family: 'Proxima Nova Bold' !important;
        font-size: 14px;
        font-weight: bold;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        letter-spacing: normal;
        color: #c4197f;
    }

    .event-type {
        width: 100%;
        display: inline;
        position: relative;
        font-family: 'Proxima Nova Bold' !important;
        font-size: 28px;
        font-weight: bold;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        letter-spacing: normal;
        color: #242734;
        margin-right: 20px;
    }

    .event-date {
        font-family: 'Proxima Nova Bold' !important;
        font-size: 16px;
        font-weight: bold;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        letter-spacing: normal;
        color: #5c5e68;
        margin: 3px 0;
    }

    .event-time {
        font-family: 'Proxima Nova Bold' !important;
        font-size: 16px;
        font-weight: bold;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        letter-spacing: normal;
        color: #92939a;
        margin: 0;
    }

    .event-state {
        width: auto;
        height: 32px;
        border-radius: 16px;
        background-color: rgba(240,179,0,.24);
        padding: 10px 15px;
        text-align: center;
        font-family: ProximaNova-Regular !important;
        font-size: 12px;
        font-weight: bold;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        letter-spacing: normal;
        text-align: center;
        color: #fab100;
    }

    .header .header-title {
        width: 100%;
        height: 58px;
        font-family: Proxima Nova Extrabold !important;
        font-size: 36px;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        letter-spacing: normal;
        color: #242734;
        align-self: center;
        min-height: 60px;
        padding: 0;
        margin-top: 0;
    }

    .fair-header-logo {
        position: relative;
        margin: auto;
        text-align: center;
        height: 100%;
        display: flex;
        width: 100%;
        align-items: flex-end;
        justify-content: flex-end;
    }

        .fair-header-logo img {
            height: auto;
            width: 144px;
        }

    .align-items-center {
        align-items: center;
    }

    .d-flex {
        display: flex;
    }

    .justify-content-end {
        justify-content: flex-end;
    }

    .analytics {
        width: 100%;
        /*height: 190px;*/
        border-radius: 10px;
        background-color: #f4f5f6;
        margin: auto;
        position: relative;
        display: flex;
        flex-direction: column;
        padding: 30px;
    min-height:256px;
    justify-content:center;
        }

        .analytics h3 {
            font-family: 'Proxima Nova Bold' !important;
            font-size: 12px;
            font-weight: bold;
            font-stretch: normal;
            font-style: normal;
            line-height: normal;
            letter-spacing: normal;
            color: #c4197f;
            margin-bottom: 2px;
        }

        .analytics span {
            font-family: ProximaNova-Regular !important;
            font-size: 20px;
            font-weight: normal;
            font-stretch: normal;
            font-style: normal;
            line-height: normal;
            letter-spacing: normal;
            color: #242734;
        }

    .btn-joinroom {
        cursor: pointer;
        font-family: 'Open Sans' !important;
        font-size: 14px;
        font-weight: bold;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        letter-spacing: normal;
        text-align: right;
        color: #fffeff;
        width: 200px;
        height: 50px;
        border-radius: 40px !important;
        background-color: #242734;
        text-align: center;
        margin-top: -20px;
    }

        .btn-joinroom:active {
            color: #fffeff;
        }

        .btn-joinroom:visited {
            color: #fffeff;
        }

        .btn-joinroom:focus {
            color: #fffeff;
        }

        .btn-joinroom:hover {
            color: #fffeff;
        }

    .returnfuaye-info {
        font-size: 13px !important;
        font-weight: normal !important;
        font-stretch: normal !important;
        font-style: normal !important;
        line-height: normal !important;
        letter-spacing: normal !important;
        color: #92939a !important;
        margin-top: 10px !important;
    }

    .btn-arrow {
        display: inline-block;
        right: 26px;
        position: absolute;
    }

        .btn-arrow:after {
            width: 6px;
            height: 4px;
            object-fit: contain;
            content: url('/Content/img/btn-arrow.svg');
            top: -1px;
            position: relative;
        }

    .justify-content-center {
        justify-content: center;
    }

    .align-items-end {
        align-items: flex-end;
    }

    .btn-gorusulen-yetenekler {
        font-family: 'Open Sans' !important;
        font-size: 14px !important;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        letter-spacing: normal;
        color: #242734 !important;
        text-decoration: underline;
    }
        .btn-edit-profile {
        font-family: 'Open Sans' !important;
        font-size: 14px !important;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        letter-spacing: normal;
        color: #242734 !important;
        text-decoration: underline;
    }
    @keyframes real {
    0% {
        box-shadow: 0 0 5px 2px rgba(79, 204, 89, 0.2);
    }

    25% {
        box-shadow: 0 0 5px 2px rgba(79, 204, 89, 0.5);
    }

    50% {
        box-shadow: 0 0 5px 2px rgba(79, 204, 89, 0.9);
    }

    75% {
        box-shadow: 0 0 5px 2px rgba(79, 204, 89, 0.5);
    }

    100% {
        box-shadow: 0 0 5px 2px rgba(79, 204, 89, 0.2);
    }
}


    
/**
 * ==============================================
 * Dot Elastic
 * ==============================================
 */
.dot-elastic {
    position: relative;
    width: 10px;
    height: 10px;
    border-radius: 5px;
    background-color: #f0b300;
    color: #f0b300;
    animation: dotElastic 1.2s infinite linear;
}

    .dot-elastic::before, .dot-elastic::after {
        content: '';
        display: inline-block;
        position: absolute;
        top: 0;
    }

    .dot-elastic::before {
        left: -12px;
        width: 10px;
        height: 10px;
        border-radius: 5px;
        background-color: #f0b300;
        color: #f0b300;
        opacity: 0.5;
        animation: dotElasticBefore 1.2s infinite linear;
    }

    .dot-elastic::after {
        left: 12px;
        width: 10px;
        height: 10px;
        border-radius: 5px;
        background-color: #f0b300;
        color: #f0b300;
        opacity: 0.5;
        animation: dotElasticAfter 1.2s infinite linear;
    }

@keyframes dotElasticBefore {
    0% {
        transform: scale(1, 1);
    }

    25% {
        transform: scale(1.3, 1.3);
    }

    50% {
        transform: scale(0.7, 0.7);
    }

    75% {
        transform: scale(1, 1);
    }

    100% {
        transform: scale(1, 1);
    }
}

@keyframes dotElastic {
    0% {
        transform: scale(1, 1);
    }

    25% {
        transform: scale(1, 1);
    }

    50% {
        transform: scale(1.5, 1.5);
    }

    75% {
        transform: scale(1, 1);
    }

    100% {
        transform: scale(1, 1);
    }
}

@keyframes dotElasticAfter {
    0% {
        transform: scale(1, 1);
    }

    25% {
        transform: scale(1, 1);
    }

    50% {
        transform: scale(0.7, 0.7);
    }

    75% {
        transform: scale(1.3, 1.3);
    }

    100% {
        transform: scale(1, 1);
    }
}
